{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<body>
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-5">
    <h2 class="card-title text-center mb-4">Login</h2>
    <form method="POST" action="{% url 'userauths:sign-in' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required autocomplete="off">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required autocomplete="off">
      </div>
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <div class="text-center mt-3">
      <p>Don't have an account? <a href="{% url 'userauths:sign-up' %}">Create Here</a></p>
    </div>
  </div>
</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock content %}
